#layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initials {
  height: 150px;
  width: 300px;
  padding: 80px 0 40px 0;
}

.title {
  font-size: 58px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

.details1,
.details2 {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
